<div class="form-group mt-3">
  <label for="email">Email</label>
  <input id="email" name="email" type="text" class="form-control" required />
</div>
<div class="form-group mt-3">
  <label for="password">Password</label>
  <input
    id="password"
    name="password"
    type="password"
    class="form-control"
    required
  />
</div>

<div class="button-control mt-3">
  <button type="submit" class="btn coloredButton projectBlue">Login in</button>
  <a href="/register" class="btn coloredButton projectGrey">Sign up</a>
  <a href="/articles" class="btn coloredButton projectGrey">Back</a>
</div>
