/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/open-sans-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans-v27-latin-regular.woff2") format("woff2"), url("/fonts/open-sans-v27-latin-regular.woff") format("woff"), url("/fonts/open-sans-v27-latin-regular.ttf") format("truetype"), url("/fonts/open-sans-v27-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sans-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/open-sans-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans-v27-latin-700.woff2") format("woff2"), url("/fonts/open-sans-v27-latin-700.woff") format("woff"), url("/fonts/open-sans-v27-latin-700.ttf") format("truetype"), url("/fonts/open-sans-v27-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-500italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/open-sans-v27-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/fonts/open-sans-v27-latin-500italic.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans-v27-latin-500italic.woff2") format("woff2"), url("/fonts/open-sans-v27-latin-500italic.woff") format("woff"), url("/fonts/open-sans-v27-latin-500italic.ttf") format("truetype"), url("/fonts/open-sans-v27-latin-500italic.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.coloredButton {
  color: #f8f8f8;
}
.coloredButton:hover, .coloredButton:focus {
  opacity: 0.9;
  color: #f8f8f8;
}

.projectRed {
  background-color: #880606;
}

.projectOrange {
  background-color: #c27d19;
}

.projectGreen {
  background-color: #126e19;
}

.projectBlue {
  background-color: #122d6e;
}

.projectPurple {
  background-color: #3c126e;
}

.projectGrey {
  background-color: #404040;
}

.errorMessage-info {
  background-color: #f5dcdc;
  color: #880606;
  padding: 20px;
}

li {
  list-style-type: none;
}

.navigation ul {
  transition: all 0.36 ease;
}
.navigation ul li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}
.navigation ul a {
  padding: 0.5em 0.8em;
  color: #404040;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
.navigation ul a::before, .navigation ul a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}
.navigation ul a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #3c126e;
  border-right: 3px solid #3c126e;
  transform: translate(-100%, 50%);
}
.navigation ul a::after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #3c126e;
  border-left: 3px solid #3c126e;
  transform: translate(100%, -50%);
}
.navigation ul a:hover::before, .navigation ul a:hover::after {
  transform: translate(0, 0);
  opacity: 1;
}
.navigation ul a:hover {
  color: #3c126e;
}

.hero-area {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-area .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: #000;
  opacity: 0.6;
}
.hero-area h1 {
  color: #f8f8f8;
  opacity: 1;
  z-index: 1;
}

.header-articles {
  background-image: url("/images/blog-header.jpg");
}

.card {
  height: 100%;
}
.card .card-buttons {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav .left-nav-item .welcome-message {
  font-size: 20px;
  margin: 0;
  padding: 10px 16px;
}

.container h1 {
  font-family: "Open Sans", Times, serif;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
